/* CUSTOM-PROPS */
:root {
  --header-button-bg: linear-gradient(90.78deg, #F4273B -34.35%, #DC2332 56.91%, #FE9200 109.83%);
    --hero-socials-button: #040404;
    --hero-button-bg-color: #07070F;
    --socials-media-buttton-bg: #21CECC;
    --socials-media-small-bg: #50E3C2;
    --socials-media-color: #50E3C2;
    --functions-button-bg: #D9D9D9;
    --profil-button-color: #8D8A8A;
    --footer-bg: #060606;
    --footer-function-bg: #0B0D1B;
    --funtion-question: linear-gradient(187.52deg, #F3A8C1 10.43%, #E8A0B8 36.37%, #E694A7 66.11%);
}

/* FONT-FACE  */
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Regular.woff2') format('woff2'),
      url('/fonts/InriaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kreon';
  src: url('/fonts/Kreon-Light.woff2') format('woff2'),
      url('/fonts/Kreon-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('/fonts/Kodchasan-Regular.woff2') format('woff2'),
      url('/fonts/Kodchasan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ruluko';
  src: url('/fonts/Ruluko.woff2') format('woff2'),
      url('/fonts/Ruluko.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/Sanchez-Regular.woff2') format('woff2'),
      url('/fonts/Sanchez-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Koulen';
  src: url('/fonts/Koulen-Regular.woff2') format('woff2'),
      url('/fonts/Koulen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.woff2') format('woff2'),
      url('/fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/Sanchez-Italic.woff2') format('woff2'),
      url('/fonts/Sanchez-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family:"Koulen" "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(black);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}