/* CUSTOM-PROPS */
:root {
  --header-button-bg: linear-gradient(90.78deg, #F4273B -34.35%, #DC2332 56.91%, #FE9200 109.83%);
    --hero-socials-button: #040404;
    --hero-button-bg-color: #07070F;
    --socials-media-buttton-bg: #21CECC;
    --socials-media-small-bg: #50E3C2;
    --socials-media-color: #50E3C2;
    --functions-button-bg: #D9D9D9;
    --profil-button-color: #8D8A8A;
    --footer-bg: #060606;
    --footer-function-bg: #0B0D1B;
    --funtion-question: linear-gradient(187.52deg, #F3A8C1 10.43%, #E8A0B8 36.37%, #E694A7 66.11%);
}

/* FONT-FACE  */
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Regular.woff2') format('woff2'),
      url('/fonts/InriaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kreon';
  src: url('/fonts/Kreon-Light.woff2') format('woff2'),
      url('/fonts/Kreon-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kodchasan';
  src: url('/fonts/Kodchasan-Regular.woff2') format('woff2'),
      url('/fonts/Kodchasan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ruluko';
  src: url('/fonts/Ruluko.woff2') format('woff2'),
      url('/fonts/Ruluko.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/Sanchez-Regular.woff2') format('woff2'),
      url('/fonts/Sanchez-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Koulen';
  src: url('/fonts/Koulen-Regular.woff2') format('woff2'),
      url('/fonts/Koulen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.woff2') format('woff2'),
      url('/fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/Sanchez-Italic.woff2') format('woff2'),
      url('/fonts/Sanchez-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family:"Koulen" "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(black);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* BUTTON */
.button{
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  font-weight: 400;
  background-color: var(--hero-socials-button);
  border-radius: 34px;
  padding: 4px 28px 4px 28px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button-light-bg{
  font-size: 20px;
  line-height: 78px;
  background: var(--header-button-bg);
  padding: 15px 63px 15px 63px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  margin-left: -150px;
}

.button-light-bg:hover{
  opacity: 0.8;
}

.button-light-bg:active{
  opacity: 0.6;
}

.button-white{
  padding: 15px 50px 15px 50px;
  font-size: 20px;
  line-height: 40px;
  color: #222;
  background-color: #fdfdfd;
  border-radius: 50px;
  margin-left: 56px;
}

.button-white:hover{
  opacity: 0.8;
}

.button-white:active{
  opacity: 0.6;
}

.socials__button-small{
  background-color: var(--hero-socials-button);
}

.socials__button{
  font-size: 28px;
  line-height: 36px;
  background-color: var(--hero-button-bg-color);
  border-radius: 31px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 42px;
  padding-right: 42px;
}

.functions__button{
  font-size: 16px;
  line-height: 29px;
  background-color: var(--hero-socials-button);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 97px;
}

.call__button{
  background-color: var(--functions-button-bg);
  font-size: 24px;
  line-height: 78px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.profil__button{
  border-radius: 11px;
  background-color: #1B1E33;
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  padding-top: 5px;
  padding-bottom: 5px;
}


  /* SITE-HEADER */
  .site-header {
    background-image: url(../img/play.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.site-header__logo{
    margin-top: 15px;
}

.site-header__container{
    display: flex;
    align-items: center;
    text-align: center;
}

.sitenav {
    align-items: center;
    display: flex;
    margin-left: 239px;
    /* background: var(--header-button-bg); */
}

.sitenav__link:not(last-child) {
    margin-right: 100px;
    color: #fff;
}

.sitenav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}

.sitenav__link:active{
    outline: none;
}

.sitenav__link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.sitenav__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.sitenav__img{
    height: 40px;
    margin-left: -95px;
    margin-top: -8px;
    width: 23px;
}


/* HERO */
.hero {
  margin-top: 82px;
  /* display: flex; */    
}

.hero__text {
  font-family: "Inria Sans";
  font-size: 30px;
  line-height: 40px;
  color: #fff;
}

.hero__text-small {
  font-family: "Inria Sans";
  font-size: 20px;
  line-height: 60px;
  margin-top: 17px;
}

.hero__img-intro {
  margin-top: -155px;
  margin-left: 50%
}

.hero__buttons{
  margin-left: 145px;
}


/* MORE QUESTION */
.more-question {
  background: #fff;
  /* margin-top: -85px; */
  color: #000;
  font-weight: 400;
}

.more-question__info{
  display: flex;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  padding: 20px 10px 0px 76px;
}

.more-question__container {
  align-items: center;
  display: flex;
}

.more-question__heading {
  margin-left: 280px;
  font-size: 32px;
  line-height: 58px;
  text-align: center;
  align-items: center;
}

.more-question__info-text{
  margin-top: 53px;
}

.more-question__title { 
  font-size: 32px;
  line-height: 58px;
  text-align: center;
  align-items: center;
}

.more-question__text {
  font-family: "Sanchez";
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  display: flex;
}

.more-question__img{
  margin-top: -180px;
}
